* {
    font-family: monospace;
    color: lightgray;
    user-select: none;
}

html,
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

#time {
    margin-left: auto;
}

.top {
    z-index: 99;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px dashed lightgray;
    padding: 12px;
    width: 300px;
}

.top a {
    margin: 2px;
    border: 1px dashed black;
    padding: 0 2px;
}

.active {
    text-decoration: none;
    border: 1px solid lightgray !important;
}

.centered {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px dashed lightgray;
    padding: 12px;
    width: 300px;
    margin: 3px;
}

.container p {
    text-indent: 4px;
}

.header {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
}

.header img {
    border-radius: 100%;
    height: 50px;
}

#time {
    display: flex;
    justify-content: center;
    align-items: center;
}

#time img {
    height: 20px;
    filter: invert(100%);
    margin: 0 5px 0 0;
}