* {
    font-family: monospace;
    color: lightgray;
    user-select: none;
}

#cursor {
    background: rgba(255, 255, 255, 0.3);
    filter: blur(50px);
    position: absolute;
    height: 100px;
    border-radius: 100%;
    aspect-ratio: 1;
    z-index: 999;
    pointer-events: none;
}

html,
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    z-index: 0;
}


#time {
    margin-left: auto;
}

#time {
    display: flex;
    justify-content: center;
    align-items: center;
}

#time img {
    height: 18px;
    filter: invert(100%);
    margin: 0 5px 0 0;
}

form {
    display: flex;
}

#message-text {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    flex-grow: 5;
    resize: none;
    background-color: black;
    border: 1px solid gray;
    outline: none;
    transition: 0.3s all;
}

#message-text:focus {
    border: 1px solid white;
}

.top {
    backdrop-filter: blur(15px);
    z-index: 99;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px dashed lightgray;
    padding: 12px;
    width: 340px;
}

.top a {
    margin: 2px;
    border: 1px dashed black;
    padding: 0 2px;
}

.active {
    text-decoration: none;
    border: 1px solid lightgray !important;
}

#app {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    z-index: 5;
    backdrop-filter: blur(15px);
    border: 1px dashed lightgray;
    padding: 12px;
    width: 340px;
    margin: 7.5px;
}

.container p {
    text-indent: 4px;
}

.header {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
}

.header img {
    border-radius: 100%;
    height: 50px;
}